@page
@model DBRadio.Pages.Zf.Zaprosi.MusicArchiev
@{
}
<h1>Музыкальный архив</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Zapisi[0].Record_ID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Zapisi[0].Perfomer_ID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Zapisi[0].Genre_ID)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Zapisi)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Record_ID)
			</td>
			<td>
				@{
					try
					{
						@Model.Ispolniteli.First(r => r.ID == item.PerformerID).Name
					}
					catch
					{
						<p> Данных нет </p>
					}
				}
			</td>
			<td>
				@{
					try
					{
						@Model.Zhanri.First(r => r.ID == item.GenreID).Name
					}
					catch
					{
						<p> Данных нет </p>
					}
				}
			</td>
		</tr>
		}
	</tbody>
</table>
