@page
@model DBRadio.Pages.ZhanriP.DetailsModel

@{
    ViewData["Title"] = "Подробнее";
}

<h1>Подробнее</h1>

<div>
    <h4>Жанры</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zhanri.Genre_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zhanri.Genre_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zhanri.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zhanri.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zhanri.Discription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zhanri.Discription)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Zhanri.ID">Редактировать</a> |
    <a asp-page="./Index">Назад к таблице</a>
</div>
