@page
@model DBRadio.Pages.SotrudnikiP.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы уверены?</h3>
<div>
    <h4>Сотрудники</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sotrudniki.Staff_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sotrudniki.Staff_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sotrudniki.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sotrudniki.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sotrudniki.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sotrudniki.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sotrudniki.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sotrudniki.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sotrudniki.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sotrudniki.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sotrudniki.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sotrudniki.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sotrudniki.PassportData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sotrudniki.PassportData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sotrudniki.PositionID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sotrudniki.PositionID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Sotrudniki.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад к таблице</a>
    </form>
</div>
