@page
@model DBRadio.Pages.IspolniteliP.IndexModel

@{
    ViewData["Title"] = "Таблица исполнителей";
}

<h1>Таблица исполнителей</h1>

<p>
    <a asp-page="Create">Создать новую запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ispolniteli[0].Perfomer_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ispolniteli[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ispolniteli[0].Discription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ispolniteli) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Perfomer_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
