@page
@model DBRadio.Pages.DolzhnostiP.DetailsModel

@{
    ViewData["Title"] = "Подробнее";
}

<h1>Подробнее</h1>

<div>
    <h4>Должности</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dolzhnosti.Position_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dolzhnosti.Position_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dolzhnosti.JobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dolzhnosti.JobTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dolzhnosti.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dolzhnosti.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dolzhnosti.Responsibilities)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dolzhnosti.Responsibilities)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dolzhnosti.Demands)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dolzhnosti.Demands)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Dolzhnosti.ID">Редактировать</a> |
    <a asp-page="./Index">Назад к таблице</a>
</div>
